﻿@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/app/app.js"></script>
<script src="~/Scripts/app/controllers/TransactionController.js"></script>
<script src="~/Scripts/app/services/TransactionService.js"></script>

<div class="col-md-12" ng-app="app">
    <div ng-controller="TransactionController" ng-init="refresh()">
        <div class="row top">
            <div class="col-md-12" ng-app="app">
                <button class="btn btn-success" data-toggle="modal" data-target="#addTransaction">Add</button>
            </div>
        </div>

        <div class="row top">
            <div class="col-md-12" ng-app="app">
                <h3>Edit mode V1. Click "Edit" button</h3>
            </div>
        </div>

        <div class="row">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Merchant name</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Decision</th>
                    <th>Entry mode</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr ng-repeat="transaction in transactions" class="">
                    <td><span>{{transaction.Id}}</span></td>
                    <td><input type="text" class="form-control" ng-model="transaction.MerchantName" ng-disabled="!transaction.editable" /></td>
                    <td><input type="text" class="form-control datepicker" ng-model="transaction.Date" mo-date-input="L" ng-disabled="!transaction.editable"  /></td>
                    <td><input type="number" class="form-control" ng-model="transaction.Amount" ng-disabled="!transaction.editable" /></td>
                    <td><input type="text" class="form-control" ng-model="transaction.Decision" ng-disabled="!transaction.editable" /></td>
                    <td><input type="text" class="form-control" ng-model="transaction.EntryMode" ng-disabled="!transaction.editable" /></td>
                    <td><button class="btn btn-warning" ng-click="editable(transaction)"><span ng-if="!transaction.editable">Edit</span><span ng-if="transaction.editable">Save</span></button></td>
                    <td><button class="btn btn-danger" ng-click="delete(transaction)">Delete</button></td>
                </tr>
            </table>
        </div>

        <div class="row top">
            <div class="col-md-12" ng-app="app">
                <h3>Edit mode V2. Click to input (except Date)</h3>
            </div>
        </div>

        <div class="row">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Merchant name</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Decision</th>
                    <th>Entry mode</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr ng-repeat="transaction in transactions" class="">
                    <td><span>{{transaction.Id}}</span></td>
                    <td><input type="text" class="form-control notedit" ng-model="transaction.MerchantName" ng-blur="save(transaction)" /></td>
                    <td><input type="text" class="form-control datepicker" readonly="" ng-model="transaction.Date" mo-date-input="L"" /></td>
                    <td><input type="number" class="form-control notedit" ng-model="transaction.Amount" ng-blur="save(transaction)" /></td>
                    <td><input type="text" class="form-control notedit" ng-model="transaction.Decision" ng-blur="save(transaction)" /></td>
                    <td><input type="text" class="form-control notedit" ng-model="transaction.EntryMode" ng-blur="save(transaction)" /></td>
                    <td><button class="btn btn-danger" ng-click="delete(transaction)">Delete</button></td>
                </tr>
            </table>
        </div>

        <div id="addTransaction" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add Transaction</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="MerchantName" class="col-sm-3 control-label">Merchant name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="MerchantName" placeholder="MerchantName" ng-model="transaction.MerchantName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Date" class="col-sm-3 control-label">Date</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control datepicker" id="Date" placeholder="Date" ng-model="transaction.Date" mo-date-input="L">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Amount" class="col-sm-3 control-label">Amount</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="Amount" placeholder="Amount" ng-model="transaction.Amount">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Decision" class="col-sm-3 control-label">Decision</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="Decision" placeholder="Decision" ng-model="transaction.Decision">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="EntryMode" class="col-sm-3 control-label">EntryMode</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="EntryMode" placeholder="EntryMode" ng-model="transaction.EntryMode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="add()">Add</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>